<div class="flex justify-between flex-col min-h-screen bg-base-200">
  <div class="flex flex-col gap-3">
    <navbar></navbar>

    <div
      class="grid grid-cols-2 row-span-3 w-full max-w-[1200px] mx-auto gap-6 py-8 px-4"
    >
      <div
        class="card col-span-2 md:col-span-1 row-span-3 bg-base-100 shadow-xl"
      >
        <div class="card-body">
          <h2 class="card-title">Conversiones totales</h2>
          <p>Se sumarán todas tus conversiones desde el inicio.</p>
          <span
            *ngIf="totalConversions == null"
            class="skeleton w-full h-[36px] my-1"
          ></span>
          <span
            *ngIf="totalConversions != null"
            class="font-bold text-3xl transition-all"
            >{{ totalConversions }}</span
          >
        </div>
      </div>

      <div
        class="card col-span-2 md:col-span-1 row-span-3 bg-base-100 shadow-xl"
      >
        <div class="card-body">
          <h2 class="card-title">Conversiones restantes</h2>
          <p>Podrás ver las conversiones que te quedan según tú plan.</p>
          <span
            *ngIf="conversionLimit == null || totalConversions == null"
            class="skeleton w-full h-[36px] my-1"
          ></span>
          <span
            *ngIf="conversionLimit != null && totalConversions!; null"
            class="font-bold text-3xl transition-all"
            >{{ conversionLimit - totalConversions }}</span
          >
        </div>
      </div>

      <div
        class="card col-span-2 md:col-span-1 row-span-3 bg-base-100 shadow-xl"
      >
        <div class="card-body">
          <h2 class="card-title">Conversiones de este mes</h2>
          <p>Se sumarán tus conversiones en este mes.</p>
          <span
            *ngIf="conversionsThisMonth == null"
            class="skeleton w-full h-[36px] my-1"
          ></span>
          <span
            *ngIf="conversionsThisMonth != null"
            class="font-bold text-3xl"
            >{{ conversionsThisMonth }}</span
          >
          <p
            *ngIf="conversionsThisMonth == null || conversionsLastMonth == null"
            class="skeleton w-full h-[36px] my-1"
          ></p>
          <p
            *ngIf="conversionsThisMonth != null && conversionsLastMonth != null"
            class="text-gray-300 transition-all"
          >
            <span
              *ngIf="conversionsThisMonth >= conversionsLastMonth"
              class="text-green-300"
            >
              +{{ conversionsThisMonth - conversionsLastMonth }}
            </span>

            <span
              *ngIf="conversionsThisMonth < conversionsLastMonth"
              class="text-red-500"
            >
              -{{ conversionsThisMonth - conversionsLastMonth }}
            </span>

            que el mes pasado
          </p>
        </div>
      </div>

      <div
        class="card col-span-2 md:col-span-1 row-span-3 bg-base-100 shadow-xl"
      >
        <div class="card-body">
          <h2 class="card-title">Moneda más utilizada</h2>
          <p>Podrás ver la moneda que más utilizas para intercambios.</p>
          <span *ngIf="firstForeing == null" class="skeleton w-full h-[36px] my-1"></span>
          <span *ngIf="firstForeing != null "class="font-bold text-3xl transition-all"
            >1° {{ firstForeing }}</span
          >
          <p *ngIf="secondForeing == null" class="skeleton w-full h-[36px] my-1"></p>
          <p *ngIf="secondForeing != null" class="text-gray-300 transition-all">2° {{ secondForeing }}</p>
        </div>
      </div>

      <div class="card col-span-2 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Historial de conversiones</h2>
          <p>Aquí podrás ver tús últimas 10 conversiones.</p>
          <app-conversion-list class="mt-2"></app-conversion-list>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
