<form #form (ngSubmit)="onSubmit()">
  <div class="flex flex-col mt-4 gap-2">
    <div class="form-control w-full grid grid-cols-2 gap-3">
      <div>
        <label class="label">
          <span class="label-text">Nombre</span>
        </label>
        <input
          type="text"
          [formControl]="firstName"
          required
          id="firstName"
          name="firstName"
          placeholder="Felipe"
          class="input input-bordered w-full"
        />
        @if (firstName.errors && firstName.touched) {
        <p class="mt-2 text-xs text-red-500">
          {{ parseErrors(firstName.errors) }}
        </p>
        }
      </div>

      <div>
        <label class="label">
          <span class="label-text">Apellido</span>
        </label>
        <input
          type="text"
          required
          [formControl]="lastName"
          id="lastName"
          name="lastName"
          placeholder="Batista"
          class="input input-bordered w-full"
        />
        @if (lastName.errors && lastName.touched) {
        <p class="mt-2 text-xs text-red-500">
          {{ parseErrors(lastName.errors) }}
        </p>
        }
      </div>
    </div>
    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Nombre de usuario</span>
      </label>
      <input
        type="text"
        [formControl]="username"
        required
        minlength="4"
        id="username"
        name="username"
        placeholder="Felipe221"
        class="input input-bordered w-full"
      />
      @if (username.errors && username.touched) {
      <p class="mt-2 text-xs text-red-500">
        {{ parseErrors(username.errors) }}
      </p>
      }
    </div>
    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input
        type="text"
        [formControl]="email"
        required
        id="email"
        name="email"
        placeholder="fbatista@mail.austral.edu.ar"
        class="input input-bordered w-full"
      />
      @if (email.errors && email.touched) {
      <p class="mt-2 text-xs text-red-500">
        {{ parseErrors(email.errors) }}
      </p>
    }
      @if (emailExists) {
      <p class="mt-2 text-xs text-red-500">
        El email ingresado ya se encuentra registrado
      </p>
      
      }
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Contraseña</span>
      </label>
      <input
        type="password"
        [formControl]="password"
        id="password"
        name="password"
        (input)="passwordMatch = true"
        placeholder="Contraseña"
        class="input input-bordered w-full"
      />
      @if (password.errors && password.touched) {
      <p class="mt-2 text-xs text-red-500">
        {{ parseErrors(password.errors) }}
      </p>
      }
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Repetir contraseña</span>
      </label>
      <input
        type="password"
        [formControl]="repeatPassword"
        id="repeatPassword"
        (input)="passwordMatch = true"
        name="repeatPassword"
        placeholder="Repetir ontraseña"
        class="input input-bordered w-full"
      />
      @if (repeatPassword.errors && repeatPassword.touched) {
      <p class="mt-2 text-xs text-red-500">
        {{ parseErrors(repeatPassword.errors) }}
      </p>
      } @if (!passwordMatch) {
      <p class="mt-2 text-xs text-red-500">
        Las contraseñas ingresadas no coinciden
      </p>
      }
    </div>
  </div>

  <div class="card-actions w-full mt-10">
    <button type="submit" class="btn btn-secondary w-full">
      Registrar @if (loading) {
      <span class="loading loading-spinner loading-sm"></span>
      }
    </button>
  </div>

  <div
    class="m-4 flex flex-col items-center justify-center gap-3 text-blue-500"
  >
    <a href="/login" class="hover:underline"
      >¿Ya tienes cuenta? Inicia sesion</a
    >
  </div>
</form>
