<div class="max-w-3xl p-4 mt-8 flex flex-col ">
  @if (loaded) {
    <div class="flex gap-4">
      <h1 class="text-6xl font-bold">¡Bienvenido <span class="text-secondary">{{user?.firstName!}}</span>!</h1>
    </div>    
  }@else {
    <div class="flex gap-4">
      <h1 class="text-6xl font-bold">¡Bienvenido </h1>
      <div class="skeleton w-[50%] h-[60px]"></div>
    </div>
  }
  
  <p class="py-4 mb-4 text-lg">
    Mantén el control de las conversiones realizadas por los usuarios y del sistema de conversión. 
  </p>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-4 pb-6">
  @for (card of panels; track $index) {
  <app-card
    class="w-full"
    [title]="card.title"
    [description]="card.description"
    [link]="card.link"
    [id]="card.id"
    [icon]="card.icon"
  ></app-card>
  }
</div>

<div class="grid md:grid-cols-2 gap-8 p-4 mb-8">
  <app-card-counter
    title="Usuarios totales"
    description="Cantidad de usuarios registrados en la aplicación."
    [counter]="usersCount"
    [loaded]="loaded"
  ></app-card-counter>

  <app-card-counter
    title="Monedas totales"
    description="Cantidad de monedas registradas en la aplicación."
    [counter]="currencyCount"
    [loaded]="loaded"
  ></app-card-counter>
  <app-status class="mt-3 col-span-2"></app-status>
</div>
