<div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-4 mb-3 mt-4">
  @if (!loading) {
  <app-dashboard-data
    title="Conversiones totales"
    description="Se sumarán todas tus conversiones desde el inicio."
    [value]="getConversionCount()"
    [loading]="loading"
  ></app-dashboard-data>

  @if (getConversionsLeft() == -1) {
  <app-dashboard-data
    title="Conversiones restantes"
    description="Podrás ver las conversiones que te quedan según tú plan."
    [value]="getConversionsLeft()"
    message="¡Tú plan no tiene límite de conversiones!"
    [loading]="loading"
  ></app-dashboard-data>
  }@else {
  <app-dashboard-data
    title="Conversiones restantes"
    description="Podrás ver las conversiones que te quedan según tú plan."
    [value]="getConversionsLeft()"
    [loading]="loading"
  ></app-dashboard-data>
  }

  <app-dashboard-month
    [loading]="loading"
    [userConversions]="userConversions"
  ></app-dashboard-month>
  }@else { @for (item of [0,1,2]; track $index) {
  <div class="skeleton h-[250px] w-full"></div>
  } }
</div>
