<div class="min-h-screen flex justify-center items-center bg-base-200">
  <div class="card max-w-lg bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Inicio de sesión</h2>
      <p>Ingresa tus credenciales para acceder al servicio.</p>

      <form action="submit">
        <div class="flex flex-col mt-4 gap-4">
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Nombre de usuario</span>
            </label>
            <input
              type="text"
              placeholder="Usuario"
              class="input input-bordered w-full"
            />
          </div>

          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Contraseña</span>
            </label>
            <input
              type="password"
              placeholder="Contraseña"
              class="input input-bordered w-full"
            />
          </div>
        </div>

        <div class="card-actions w-full p-2 mt-4">
          <button type="submit" class="btn btn-secondary w-full">
            Ingresar
          </button>
        </div>

        <div
          class="m-4 flex flex-col items-center justify-center gap-3 text-blue-500"
        >
          <a href="" class="hover:underline">¿No tienes cuenta? Registrate</a>
          <a href="" class="hover:underline">Recuperar Contraseña</a>
        </div>
      </form>
    </div>
  </div>
</div>
