<div class="card bg-base-100 shadow-xl">
  <div class="card-body flex text-start">
    <h2 class="card-title">Convertidor de divisas</h2>
    <p>Seleccione dos monedas y sepa cuanto equivale.</p>
    <form class="flex flex-row w-full items-start relative justify-start mt-4">
      <div class="dropdown w-[35%]">
        <label tabindex="0" class="btn m-1 w-full justify-start">
          <img src={{from?.imageUrl}} class="w-6 h-6" alt="From flag" />
          {{from?.code}}
        </label>
        <ul
          tabindex="0"
          id="fromDropdown"
          class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 max-h-[200px] overflow-y-auto flex-col flex-nowrap "
        >
          <li *ngFor="let foreing of foreings" class="p-1">
            <div (click)="setFrom(foreing)" class="flex gap-2 flex-row">

              <img
                *ngIf="foreing.imageUrl != ''"
                src="{{foreing.imageUrl}}"
                alt="Bandera"
                height="25"
                width="25"
                class="object-contain"
              /><a class=""
                >{{ foreing.code }} - {{ foreing.name }}</a
              >
            </div>
          </li>
        </ul>
        <p class="relative left-2 text-sm">Valor IC: {{from?.value}}</p>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-12 h-12 mx-auto relative left-2 top-1"
        id="Swap"
      >
        <path
          d="M13.98 22 6 30l7.98 8v-6H28v-4H13.98v-6zM42 18l-7.98-8v6H20v4h14.02v6L42 18z"
          fill="#f8fefe"
          class="color000000 svgShape"
        ></path>
        <path fill="none" d="M0 0h48v48H0z"></path>
      </svg>
      <div class="dropdown w-[35%]">
        <label tabindex="0" class="btn m-1 w-full justify-start">
          <img src={{to?.imageUrl}} class="w-6 h-6" alt="To flag" />
          {{to?.code}}
        </label>
        <ul
          tabindex="0"
          id="toDropdown"
          class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 max-h-[200px] overflow-y-auto flex-col flex-nowrap "
        >
          <li *ngFor="let foreing of foreings" class="p-1">
            <div (click)="setTo(foreing)" class="flex gap-2 flex-row">

              <img
                *ngIf="foreing.imageUrl != ''"
                src="{{foreing.imageUrl}}"
                alt="Bandera"
                height="25"
                width="25"
                class="object-contain"
              /><a class=""
                >{{ foreing.code }} - {{ foreing.name }}</a
              >
            </div>
          </li>
        </ul>
        <p class="relative left-2 text-sm">Valor IC: {{to?.value}}</p>
      </div>
    </form>
    <div class="flex gap-6 mt-4">
      <input
        type="number"
        id="amount"
        [(ngModel)]="amount"
        name="amount"
        placeholder="Ingrese la cantidad"
        class="input input-bordered w-full max-w-xs"
      />
      <button [disabled]="!canConvert()" (click)="convert()" class="btn btn-secondary flex-1">Convertir</button>
    </div>
    <div class="mt-4">
      <h2 class="text-lg" *ngIf="errors.length == 0">Valor de la convertibilidad de <span class="text-accent">{{from?.code}}</span> a <span class="text-accent">{{to?.code}}</span>: {{result.toFixed(4)}}</h2>
      <ul *ngIf="errors.length > 0" class="flex flex-col gap-1">
        <li *ngFor="let error of errors" class="text-red-500">
          {{errors.indexOf(error) + 1}} - {{error.message}}
        </li>
      </ul>
      <h2 *ngIf="conversionRemaining() == -1 ? false : true">Cantidad de conversiones restantes: <span class="{{color()}}" >{{conversionRemaining()}}</span></h2>
      <h2 *ngIf="conversionRemaining() == -1 ? true : false" class="text-green-400">¡Tú plan no tiene límite de conversiones!</h2>
    </div>
  </div>
</div>
