<form #form (ngSubmit)="onSubmit()">
  <div class="flex flex-col mt-4 gap-4">
    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Nombre de usuario</span>
      </label>
      <input
        type="text"
        [(ngModel)]="username"
        id="username"
        required
        name="username"
        placeholder="Usuario" 
        class="input input-bordered w-full"
      />
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Contraseña</span>
      </label>
      <input
        type="password"
        [(ngModel)]="password"
        required
        id="password"
        name="password"
        placeholder="Contraseña"
        class="input input-bordered w-full"
      />
    </div>
  </div>

  <div class="card-actions w-full mt-[3rem]">
    <button type="submit" class="btn btn-secondary w-full">
      Ingresar
    </button>
  </div>

  <div
    class="m-4 flex flex-col items-center justify-center gap-3 text-blue-500"
  >
    <a href="/register" class="hover:underline">¿No tienes cuenta? Registrate</a>
  </div>
</form>
