@if (user.id != 0) { @if (saving && !sureDelete) {
<app-edit-loading title="Guardando usuario..."></app-edit-loading>
}@else if (saving && sureDelete) {
<app-edit-loading title="Eliminando usuario..."></app-edit-loading>
}@else if (sureDelete && !saving && !closeMessage) {
<div open="true" id="deleteUserModal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">¡Ten cuidado con esto!</h3>
    <p>¿Estás seguro de que quieres eliminar este usuario?</p>
    <div class="grid grid-cols-2 gap-2 mt-4">
      <button
        class="rounded-lg h-[3rem] font-semibold text-[14px] bg-white text-black opacity-90 hover:opacity-100"
        (click)="deleteUser()"
      >
        Eliminar
      </button>
      <button
        class="rounded-lg h-[3rem] font-semibold text-[14px] bg-[#FF9696] text-black opacity-90 hover:opacity-100"
        (click)="close()"
      >
        Cancelar
      </button>
    </div>
  </div>
  <form method="dialog" (click)="close()" class="modal-backdrop">
    <button>close</button>
  </form>
</div>
}@else if (closeMessage) { @if (success && !sureDelete) {
<app-edit-close
  title="¡Usuario guardado!"
  description="El usuario se ha guardado correctamente."
  (close)="close()"
></app-edit-close>
} @if (!success && !sureDelete) {
<app-edit-close
  title="¡Error!"
  description="Ha ocurrido un error al guardar el usuario."
  (close)="close()"
></app-edit-close>
} @if (success && sureDelete) {
<app-edit-close
  title="¡Usuario eliminado correctamente!"
  description="El usuario se ha eliminado correctamente."
  (close)="close()"
></app-edit-close>
} @if (!success && sureDelete) {
<app-edit-close
  title="¡Error!"
  description="Ha ocurrido un error al eliminar el usuario."
  (close)="close()"
></app-edit-close>
} } @else {
<div open="true" id="editUserModal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Editar usuario</h3>
    <p>ID: {{ user.id }}</p>
    <form class="mt-4 flex flex-col gap-2">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Nombre</span>
        </div>
        <input
          type="text"
          [placeholder]="user.firstName"
          [formControl]="firstName"
          class="input input-bordered w-full"
        />
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Apellido</span>
        </div>
        <input
          type="text"
          [placeholder]="user.lastName"
          [formControl]="lastName"
          class="input input-bordered w-full"
        />
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Correo electronico</span>
        </div>
        <input
          type="text"
          [placeholder]="user.email"
          [formControl]="email"
          class="input input-bordered w-full"
        />
      </label>

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Plan</span>
        </div>
        <select class="select select-bordered" [formControl]="plan">
          @for (plan of [1,2,3]; track $index) { @if (plan ==
          user.subscriptionId) {
          <option selected class="py-4">{{ planToText(plan) }}</option>
          }@else {
          <option>{{ planToText(plan) }}</option>
          } }
        </select>
      </label>
    </form>

    <div class="grid grid-cols-2 gap-4 justify-between mt-8">
      <button
        class="rounded-lg h-[3rem] font-semibold text-[14px] bg-white text-black opacity-90 hover:opacity-100"
        (click)="save()"
      >
        Guardar
      </button>
      <button
        class="rounded-lg h-[3rem] font-semibold text-[14px] bg-[#FF9696] text-black opacity-90 hover:opacity-100"
        (click)="sureClick()"
      >
        Eliminar usuario
      </button>
    </div>
  </div>
  <form method="dialog" (click)="close()" class="modal-backdrop">
    <button>close</button>
  </form>
</div>
} }
