<div class="card bg-base-100 shadow-xl h-full">
  <div class="card-body flex flex-col card p-6 gap-0">
    <div class="flex items-center gap-2">
      <img src="../../assets/{{ icon }}" alt="{{ id }}" class="h-7 w-6" />
      <h3 class="font-bold text-[20px]">{{ title }}</h3>
    </div>
    <p class="text-[16px]  border-b border-gray-300 border-opacity-50 pb-3">{{ description }}</p>

    <button
      (click)="send()"
      class="pl-4 pr-3 py-2 border border-white rounded-xl w-fit mt-4 gap-1 flex items-center justify-center hover:scale-105 transition-all"
    >
      Ingresar
      <img
        src="../../assets/arrowRight.svg"
        stroke
        alt="arrowRight"
        class="h-6 w-6 relative top-[1.5px]"
      />
    </button>
  </div>
</div>
